<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QlikCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F978947C1F8209EF001706A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F97894931F8209F0001706A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F978949E1F8209F0001706A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
